
.region-toggle{
	color: #0075AC!important;
	padding-right:10px!important;
	font-size: 12px!important;
}
.region-dropdown{
	display: block!important;
}
.region-dropdownmenu{
	min-width: 80px!important;
}
.region-language{
	min-width: 50px!important;
}
