.sasmar-header{
	margin: 12px 0 0px;
	background-color: #FFFFFF!important;
}
.sasmar-wrapper{
	margin-bottom: 0px;
	background-color: #FFFFFF!important;
	height: 40px;
}
.sasmar-panelheader{
	background-color: #FFFFFF!important;
	text-align: right;
	display: inline-flex;
	margin-right: 8%;
}
.sasmar-toggle{
	color: #0075AC;
	padding-right:10px;
}
.sasmar-sample{
	color: red!important;
	font-size: 12px;
}
.sasmar-wrapper2{
	margin-bottom: 0px;
	background-color: #FFFFFF!important;
	height: 40px;
}
.sasmar-panelheader2{
	background-color: #FFFFFF!important;
}
.sasmar-cart{
	float:right;
}
.sasmar-minicart{
	color: #0075AC!important;
}
.sasmar-quantity{
	width:0px !important;
	border:none !important;
	margin:0px !important;
	max-width:1px !important;
	text-align:right; 
}
.sasmar-priceunit{
	white-space: nowrap!important;
}
.sasmar-account{
	color: #0075AC!important;
	font-size: 12px;
}
.sasmar-navbar{
	background-color: #FFFFFF!important;
}
.sasmar-navbartoggle{
	background-color: #0075AC!important;
}
.sasmar-logo{
	height: 55px!important;
	margin: -5px!important;
	max-width: 100%!important;
}
.sasmar-navbarnav{
	font-weight: bold;
	color:black!important;
	margin-left: 55px !important;
}
.sasmar-navbarnavright{
	font-weight: bold;
	color:black!important;
	margin-left: 55px !important;
}
.sasmar-search{
	top: 10px;
}
.sasmar-searchbtn{
	margin-left: 2px;
	top: 0px;
	right: 0px;
	height: 38px !important;
}


/* this code is for submenu open on mouse over in mobile responsive view  */
	li.dropdown:hover ul.ayaz{
		display: inline-table !important;
	}
	ul.ayaz1 li.dropdown:hover ul.ayaz2{
		display: inline-table !important;
	}
/* End  */

/* this code Header Menu Fixed while scroll down  */
	.navbar {position: relative; min-height: 50px; margin-bottom: 0px; border: 1px solid transparent; } /* margin-bottom: 20px; */
	.navbar-fixed-top { 
		position: fixed !important;
		background-color: #FFFFFF;
		width: 100% !important;
		z-index: 1000 !important;
	}
	
/* End  */


/* loader css */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/sasmar_theme/static/src/img/Preloader_3.gif) center no-repeat #fff;
	background-size: 40px 40px;
}
/* End  */

/* scrollbar in region header css */
.region-css{
	max-height: 550px;
	overflow-y: auto;
	width: 180px;
}
/* End  */

/* Breadcumb custom css */
.page-wrapper > .breadcrumbs {
	padding: 0;
	margin: 0;
	max-width: 100%;
	background-color: #0075AC;
	color: #fff;
}
/* End  */

/* add to cart quantity set to vertically css */
.fieldset > .field.qty, .nested.options-list > .field.qty {
	/* display: inline-block; */
	display: inline-table;    
	vertical-align: middle;
	margin: 0;
	margin-right: 15px;
}
/* End  */

/* website_blog custom css */
#dopprod-1{
	background-color: #0075AC !important;
}
#dopprod-2{
	background-color: #0075AC !important;
}
#dopprod-3{
	background-color: #0075AC !important;
}

/* End  */
.footer-middle {
	background-color: #F6F6F6;
	color: #2C3232;
	padding: 40px 0;
}

.footer-middle a, .footer-middle a:hover, .footer-middle a:focus {
	color: #2C3232;
}

.footer-middle .block .block-title strong {
	font-weight: 400;
	padding: 0;
	font-size: 16px;
	color: #2C3232;
	text-transform: none;
}

.footer-bottom {
	min-height: 50px;
	line-height: 40px;
	background-color: #FFFFFF;
	padding: 5px 0;
}
  
  
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		display: block;
		height: auto;
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		line-height: 1;
	}

/*header {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 20;
	box-shadow: 0 7px 9px -15px #000;
	top: 0;
	margin-top: 30px;
}*/

.btn-primary{
	   background-color: #0075AC !important;
	   color: #fff !important;
}

.btn-primary:hover {
   background-color: #0075AC !important;
}
.btn-default{
	   background-color: #0075AC !important;
	   color: #fff !important;
}
.btn-default:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.btn-default:hover {
	color: #fff;
	opacity: 0.85;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
		color: #fff;
		height: 38px;
}

/* this is for /my/home page for remove border-top: 4px solid #0075AC; */
.page-header {
	background-color: #fff;
	border-top: 4px #0075AC;
	position: relative;
	
}
/*.page-header a{
	color: #fff;
}*/
/* End */

.homepage-bar [class*=" fa-"], .homepage-bar [class^="fa-"]
{
	font-size: 34px;
	display: inline-block;
	vertical-align: middle;
}

/* Footer Social icon custom CSS */
.social-icons > li > a{
	background-color: #FFFFFF;
}


.footer-middle .block.newsletter input{
	border: 1px solid #ccc;
	background-color: transparent;
	height: 34px;
  }


.footer-middle .block.newsletter .action.subscribe{  
  background-color: transparent;
	color: #777;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ccc;
 }
/* 
.product.media
 {
	 width: 49%;
 }
 
.product-info-main
 {
	 width: 49%;
 }
*/ 
 
 /********************************************************************/
/*** NAV TABS IN PRODUCT PAGE ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #428bca;
	border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	background-color: #4a9fe9;
}
/********************************************************************/




 /********************************************************************/
/*** Checkout page wizard css ***/
ul.wizard { margin: 0 0 40px; width: 100%; text-align:center; border-radius: 0; box-shadow: none; }
ul.wizard li:first-child { border-radius: 0;}
ul.wizard li .chevron { display: none;}
ul.wizard li {  color: #999; border-color: #000; margin: 0 10px;   padding: 0 30px 0 20px;  border-right: 1px solid #ddd;}
ul.wizard li:before {  border: 2px solid #fff;  border-radius: 50%;  color: #999;  content: "1";  float: left;  font-size: 22px;   font-weight: 600;  height: 50px;  left: -40px;    line-height: 46px;  position: absolute;  text-align: center;   top: -6px;    width: 50px;}

ul.wizard li .chevron:before{ }
ul.wizard li{ background: #ddf4db; border-color:#a8caa5; float: none; display: inline-block; }
ul.wizard li.text-muted {background: #f5f5f5; border-color: #ccc;     margin: 0 10px;
	padding: 0 30px 0 20px;
	border-right: 1px solid #ddd;}
ul.wizard li a { color: #999}
ul.wizard li a:hover { text-decoration: none; color: #999}

ul.wizard li:before { content: "\f14a"; font-family: 'FontAwesome'; background:#ddf4db;  border-color: #a8caa5;    color: #a8caa5;}
ul.wizard li.text-muted:before { content: "\f101"; font-family: 'FontAwesome'; background: #f5f5f5; color: #ccc; border-color: #ccc;}
ul.wizard li.text-primary:before { content: "\f192"; font-family: 'FontAwesome'; background: #fbd3d3; color: #e49797; border-color: #e49797;}
ul.wizard li.text-primary { background: #fbd3d3; color: #be3f3f; border-color: #e49797; margin: 0 10px;
	padding: 0 30px 0 20px;
	border-right: 1px solid #ddd;}
/********************************************************************/

/*SIDEBAR*/
.widget.block-categories ul{list-style:none;padding:0;}
.widget.block-recent-posts ul{list-style:none;padding:0;} 
/********************************************************************/


/*featured product and brand in homepage*/
.filterproduct-title {
	background: url(/sasmar_theme/static/src/img/slider-bar.png) right no-repeat;
	font-size: 16px;
	font-weight: 300;
	line-height: 42px;
	margin: 0;
	color: #313131;
	text-transform: uppercase;
	text-align: left
}

/********************************************************************/


/* Video Custom CSS */
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 570px; 
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:90px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}
/********************************************************************/


/* our brands custom css */
.carousel-control.left {
	background-image: none;
	 margin-top: -41px;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
   margin-top: -41px;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}
/********************************************************************/

/* Search expanding input CSS only */
#searchExpand		{
  width:130px;
  -webkit-transition:width 0.3s ease-in-out;
}
#searchExpand:focus	{
  width:240px;
  -webkit-transition:width 0.5s ease-in-out;
}
/********************************************************************/

.widget.block-categories li {
	padding: 8px 3px 8px 18px;
	position: relative;
	line-height: 1.3;
	border-bottom: 1px solid #ddd;
	margin: 0;
}



 .share_buttons{padding-left: 10px; padding-right: 10px;} .share_buttons:hover{text-decoration: none;} .share_buttons:focus{text-decoration: none;} .oe_share_facebook, .oe_share_facebook:hover{color: #3b5998 !important;} .oe_share_twitter, .oe_share_twitter:hover{color: #326ada !important;} .oe_share_google, .oe_share_google:hover{color: #dd4b39 !important;} .oe_share_mail, .oe_share_mail:hover{color: #666666 !important;} 



ul.wizard { margin: 0 0 40px; width: 100%; text-align:center; border-radius: 0; box-shadow: none; padding: 0 25px!important; }
ul.wizard li:first-child { border-radius: 0;}
ul.wizard li .chevron { display: none;}
ul.wizard li {  color: #999; border-color: #000; margin: 0 10px;   padding: 0 30px 0 20px;  border-right: 1px solid #ddd;}
ul.wizard li:before {  border: 2px solid #fff;  border-radius: 50%;  color: #999;  content: "1";  float: left;  font-size: 22px;   font-weight: 600;  height: 50px;  left: -40px;    line-height: 46px;  position: absolute;  text-align: center;   top: -6px;    width: 50px;}

ul.wizard li{ background: #ddf4db; border-color:#a8caa5;float: none;display: inline-block;}
ul.wizard li.text-muted {background: #f5f5f5; border-color: #ccc }
ul.wizard li a { color: #999}
ul.wizard li a:hover { text-decoration: none; color: #999}

ul.wizard li:before { content: "\f14a"; font-family: 'FontAwesome'; background:#ddf4db;  border-color: #a8caa5;    color: #a8caa5;}
ul.wizard li.text-muted:before { content: "\f101"; font-family: 'FontAwesome'; background: #f5f5f5; color: #ccc; border-color: #ccc;}
ul.wizard li.text-primary:before { content: "\f192"; font-family: 'FontAwesome'; background: #fbd3d3; color: #e49797; border-color: #e49797;}
ul.wizard li.text-primary { background: #fbd3d3; color: #be3f3f; border-color: #e49797;}



